# Mission to Mars

### Part 1: Scraping the information from

* Mars New Site: https://redplanetscience.com/
* Mars Images site: https://spaceimages-mars.com/
* Mars Facts page: https://galaxyfacts-mars.com/
* Mars Hemispheres images: https://marshemispheres.com/

In [83]:
# Dependencies
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import requests
import os

#### 1a: Mars New Site: https://redplanetscience.com/
* Get the latest article title
* Get the latest article description paragraph

In [84]:
#Open the browswer window - set up splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [85]:
# set URL to scrape
url = 'https://redplanetscience.com/'

# open the page in browswer
browser.visit(url)

In [86]:
# Create BeautifulSoup object; parse with 'html.parser'
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [87]:
#Locate the section containing the news articles
container = soup.find('section', class_='image_and_description_container')

#Locate the title and descriptive paragraph for the first article and save to variables
news = container.find('div', class_='content_title').text
news_p = container.find('div', class_='article_teaser_body').text

In [88]:
browser.quit()

#### 1b: Mars Images site: https://spaceimages-mars.com/
* Get the URL for the featured Mars image (full sized)

In [89]:
#Open the browswer window - set up splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [90]:
# set URL to scrape
url = 'https://spaceimages-mars.com/'

# open the page in browswer
browser.visit(url)

In [91]:
# Create BeautifulSoup object; parse with 'html.parser'
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [111]:
image = soup.find('div', class_ = "floating_text_area").a['href']
featured_image_url = f'{url}{image}'

In [112]:
browser.quit()

#### 1c: Mars Facts page: https://galaxyfacts-mars.com/
* Get the table comtaining Mars facts (diamter, mass, etc)
* Use Pandas to convert to and HTML table string

In [123]:
#use pandas to find all tables on the page
tables = pd.read_html(url)
#select the second table since it is in a side bar and there is one on the main page
df = tables[1]
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [125]:
#Turn the dataframe into HTML
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 ( Phobos &amp; Deimos )</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

####  1d: Mars Hemispheres images: https://marshemispheres.com/
* Get the urls for each of the hemispheres (full resolution image)
* store the hemisphere title and URL string to a list with one dictionary for each hemisphere